#blocos{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
    text-align: center;
    
}

#resultado{
    margin-top: 30px;
    color: red;

}

